:root {
    --primary: #6366F1;
    --secondary: #8B5CF6;
    --accent: #F59E0B;
    --todo: #374151;
    --progress: #78350F;
    --success: #10B981;
    --bg: #F9FAFB;
    --text: #1F2937;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    color: var(--text);
    background-color: var(--bg);
}

h1 {
   font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    line-height: 2.7rem; 
}

h2 {
   font-family: 'Inter', sans-serif;
    font-size: 2rem;
    line-height: 2.2rem; 
}

h3 {
   font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 1.7rem; 
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.main-btn {
    border: none;
    background-color: var(--primary);
    color: var(--bg);
}

.sec-btn {
    border: 2px solid var(--secondary);
    background-color: transparent;
    color: var(--secondary);
    transition: all 300ms ease;
}

.sec-btn:hover {
    box-shadow: 2px 2px 5px var(--secondary);
}

#logoutIcon {
    transform: rotate(180deg);
    color: var(--secondary);
}
