body {
    padding-left: 22vw;
}

/* SIDEBAR */

.salons-sidebar {
    width: 20vw;
    height: 100vh;
    position: fixed;
    left: 0; top: 0; bottom: 0;
    border-right: 1px solid var(--primary);
}

.sidebar-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 95%;
    padding: 20px;
}

.sidebar-logo {
    color: var(--primary);
}

.sidebar-links {
    list-style: none;
    padding: 0;
    cursor: pointer;
    padding-top: 50px;
}

.sidebar-links li {
    margin-left: -5px;
    margin-bottom: 10px;
    padding: 10px 5px;
    transition: all 200ms ease;
    border-radius: 10px;
}

.sidebar-links li:hover {
    background-color: var(--primary);
}

.sidebar-links li:hover a {
    color: var(--bg);
}

.sidebar-links li:hover .link-icon{
    color: var(--bg);
}

.sidebar-links li a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: all 200ms ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.link-icon {
    width: 25px;
    height: 25px;
    fill: none;
    stroke: currentColor;
}

.link-icon.smaller {
    width: 20px; 
    height: 20px;
    margin-left: 2px;
}

.link-icon * {
    fill: none;
    stroke: currentColor;
}

/* DASHBOARD */

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
}

.dashboard-stats {
    padding: 20px 100px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #6366F1, #8B5CF6);
}

.dashboard-stats strong {
    color: var(--bg);
}

.dashboard-stats p {
    text-transform: uppercase;
    color: var(--bg);
    font-size: 1.1rem;
}