<nav class="salons-sidebar">
    <div class="sidebar-container">
        <div>
            <h3>Dobrodošli {{ user.username }}</h3>
        </div>

        <div>
            <ul class="sidebar-links">
                <li><a class="sidebar-link" href="#">Dashboard</a></li>
                <li><a class="sidebar-link" href="#">Usluge</a></li>
                <li><a class="sidebar-link" href="#">Termini</a></li>
                <li><a class="sidebar-link" href="#">Podešavanja</a></li>
            </ul>
        </div>

        <div>
            <button>Izloguj se</button>
        </div>
    </div>
</nav>