{% extends "salons/salons_base.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block description %}
    Dashboard za frizere
{% endblock description %}

{% block content %}
    <main>
        <section class="salon-dashboard-section">
            <div class="dashboard-header">
                <div class="dashboard-stats">
                    <strong>Ukupan prihod ovog meseca</strong>
                    <p>17.000 din</p>
                </div>

                <div class="dashboard-stats">
                    <strong>Broj termina za danas</strong>
                    <p>10</p>
                </div>

                <div class="dashboard-stats">
                    <strong>Novi klijenti ovog meseca</strong>
                    <p>+7</p>
                </div>

                <div class="dashboard-stats">
                    <strong>Najprofitabilnija usluga</strong>
                    <p>Fade sisanje</p>
                </div>
            </div>

            <h1>Termini za danas</h1>
            <div class="dashboard-appoitments">
                <div class="dashboard-card">
                    <h3>Slavisa Arsenijevic</h3>
                    <p>Klasicno sisanje</p>
                    <p>Vreme: 11:30h</p>
                    <p class="status-text done">Zavrseno</p>
                </div>
                <div class="dashboard-card">
                    <h3>Andrija Matic</h3>
                    <p>Fejd sisanje</p>
                    <p>Vreme: 12:00h</p>
                    <p class="status-text progress">U toku</p>
                </div>
                <div class="dashboard-card">
                    <h3>Filip Lukovic</h3>
                    <p>Klasicno sisanje</p>
                    <p>Vreme: 13:00h</p>
                    <p class="status-text todo">Predstojeći</p>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}